.about-page {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 0rem;
  color: white;
}

.about-hero h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #38bdf8;
}

.about-content {
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}
